* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: -webkit-linear-gradient(80deg, #3cfba8, #1ac7ea);
  background: -moz-linear-gradient(80deg, #3cfba8, #1ac7ea);
  background: -ms-linear-gradient(80deg, #3cfba8, #1ac7ea);
  background: -o-linear-gradient(80deg, #3cfba8, #1ac7ea);
  background: linear-gradient(80deg, #3cfba8, #1ac7ea);
  /* margin-top: 50px; */
  min-height: 100%;
}

.App {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  place-items: center;
  height: 100%;
  margin: 20px;
  width: calc(100% - 40px);
  min-width: 300px;
  border-radius: 20px;
  min-height: 100%;
}

.btn{
  border:none;
  outline:none;
  background:none;
  display:inline;
  padding: 0 4px;
  font-size:30px;
}
.App-title {
  font-size: 32px;
  display: inline;
  width: contain;
  height: contain;
  color: white;
  padding: 20px 0px;
  background: linear-gradient(to left, #5e0c66, #e58080, #5e0c66);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.App-logo {
  display: block;
  width: 280px;
  height: 280px;
  fill: #111111;
  color: #111;
  stroke: #111;
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #3800a0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  display: inline;
}
h2 {
  color: balck;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}
h1,
h2 {
  text-align: center;
}
ul {
  display: flex;
  flex-flow: column;
  width: 80%;

  padding: 0;
}
ul li {
  list-style: none;
  width: calc(100% - 18px);
  display: flex;
  padding: 8px;
  padding-left: 10px;
  justify-content: space-between;
  background-color: rgba(243, 243, 243, 0.9);
  color: rgb(35, 111, 146);
  transition: background-color 0.2s;
  border-bottom: 1px solid #ddd;
}
ul li:last-child {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}
ul li:nth-child(1),
ul li:nth-child(1):hover {
  background-color: blueviolet;
  color: white;
  padding: 9px;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}
ul li:nth-child(1) button,
ul li:nth-child(1):hover button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  box-shadow: none;
  margin-right: 0px;
}
ul li:hover {
  background-color: rgba(183, 247, 255, 0.6);
  font-weight: 600;
}

ul li:hover button {
  font-weight: 500;
}
ul li button {
  background-color: rgb(189, 83, 83);
  color: white;
  border: none;
  box-shadow: 0 0 2px 1px rgb(252, 252, 252);
  font-weight: bolder;
  margin-right: 8px;
}

ul li button:hover {
  background-color: white;
  color: rgb(189, 83, 83);
  font-weight: 700;
  cursor: pointer;
}

/* ----------- FORM COMPENENT ---------------------*/
.App form {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.App form input[type="text"] {
  border: 1px solid white;
  padding: 8px;
  margin-right: 10px;
  color: rgb(35, 111, 146);
  font-size: 18px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
}

.App form button,
.App form button:hover {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  padding-left: 14px 5px;
  letter-spacing: 0.07em;
  font-size: 12px;
  font-weight: lighter;
  cursor: default;
}
